/* ------Common CSS------ */

html, body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
body {
  position: relative
}
.theme-color1{
    color: #EA5526;
}
.theme-color2{
    color: #FF9C11;
}
.bg-primary-voosh{
    background-color: #EA5526;
}
.bg-color1{
    background-color: #F3F3F3;
}
.bg-color2{
    background-color: #FFD0BC;
}
.fs-80{
    font-size: 80px;
}
.fs-70{
    font-size: 70px;
    line-height: 5rem;
}
.fs-35{
    font-size: 35px;
    margin: 0;
}
.fs-60{
    font-size: 60px;
}
.fs-50{
    font-size: 50px;
}
.fs-25{
    font-size: 25px;
}
.mt-n1{
    margin-top: -1rem;
}
/* ------Navbar CSS------ */
.sticky{
    position: fixed;
    width: 100%;
    top: 0;
}
.nav-link{
    font-size: 20px;
    color: #ffffff!important;
}

.logo{
    top: 0.5rem;
    margin-left: 2rem;
    position: fixed;
    border-radius: .5rem;
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-collapse{
    padding-left: 2rem;
}

/*--- Voosh Offerings ----*/
.offerings .nav{
    border-width: 90%;
    border-bottom: 1px solid gray;
}
.offerings .nav-link{
    font-size: 20px;
    color: #766F71!important;
    background-color: none;
    border: none!important;
}
.offerings .nav-item .active{
    background: none;
    border-bottom: 5px solid #EA5526 !important;
    border-radius: 0;
}



.section-3 iframe{
    padding: 1rem 0 2rem 0;
    width: 100% !important;
    height: 380px;
}




/*-------*/

.icon-color{
    color: #FF9C11;
}
.badge{
    line-height: unset;
    margin-left: 4px;
    margin-bottom: 1px;
}
.home{
    margin-top: 8rem;
}
.heading{
    font-size: 44px;
    font-weight: 700;
}

.heading-2{
    font-size: 42px;
}

.features span{
    background-color: #ff9c111a;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    padding-top: 14px;
    padding-left: 14px;
}
.features p{
    font-size: 18px;
}
.btn-partner{
    background-color: #FF5920;
    width:75%;
    height: 45px;
}



/* cuisines css */
.cuisines{
    background-image: url("../image/cuisines_bg.png");
    
}
.cuisines .card{
    position: unset;
}


.slides {
  position: relative; 
}
.slides .slick-next:before {
    content: none;
}
.slides .slick-next {
    height: 68px;
    width:41px;
    background-image: url("../image/next.png");
    right: 10%;
    position: absolute;
    top: 50%;
  }
  .slides .slick-prev:before {
    content: none;
}
.slides .slick-prev {
    height: 68px;
    width:41px;
    background-image: url("../image/prev.png");
    z-index: 1;
    left: 10%;
    position: absolute;
    top: 50%;
  }
  .slick-dots{
      bottom: -1rem;
  }
  .slick-dots li button{
      background-color: white;
      border-radius: 5rem;
  }
  .quote{
    margin-bottom: -5rem;
}
 #quote{
     width: 100px;
     height: 130px;
 }
 .t-card{
     height: 360px;
 }

 .t-card-footer img {
    width: 90px;
}
.footer img{
    width: 100px;
}
  #voosh_map{
      margin-top: -4rem;
      margin-left: -4rem;
  }

/* ------Media Query Responsive CSS (Mobile view)------ */

@media screen and (max-width: 450px) {
  .fs-70{
      font-size: 30px;
      line-height: inherit;
  }
  .fs-70 font{
      font-size: 35px;
      margin-right: 4rem;
  }
  .fs-35{
      font-size: 18px;
  }

  .logo{
      margin-left: 1rem;
  }
  .logo img{
      width:140px;
  }
  .navbar button{
      margin-top:2px;
      margin-bottom: 2px;
  }
  .navbar button:focus{
      outline: none;
      box-shadow: none !important;
  }
  .nav-link{
      font-size: 16px;
      text-align: center;
      margin-right: 1rem;
  }

  .section-2 .text-center{
      text-align: left!important;
      padding: 0 2rem 0 2rem;
  }
  .section-2 .fs-50{
      font-size: 25px;
      max-width: 300px;
  }
  .section-2 .p2{
      font-size: 30px;
  }
  .section-2 .fs-5{
      font-size: 12px !important;
  }
  .section-2 button{
      font-size: 12px!important;
      width: 150px;
  }
  .section-3{
      padding: 2rem 2rem 0 2rem !important;
  }
  .section-3 .fs-60{
    font-size: 25px;
  }
  .section-3 .fs-70{
    font-size: 30px;
  }
  .section-3 .fs-5{
    font-size: 12px!important;
    padding: 0 !important;
  }
  .section-3 iframe{
      padding: 1rem 0 2rem 0;
      width: 100% !important;
      height: 230px;
  }

  .section-4 .fs-50{
        padding-left: 2rem;
        text-align: left!important;
        font-size: 32px;
  }
  .section-4 .fs-70{
        padding-left: 2rem;
        text-align: left!important;
        font-size: 45px;
  }
  .section-4 .col-sm-6{
      width: 50%;
  }
  .section-4 .col-sm-6 p{
      font-size: 12px;
  }

  .section-5 .fs-50{
      font-size: 30px;
  }
  .section-5 .fs-50 font{ 
      font-weight: bold;
  }
  .offerings{
      margin:2rem !important;
      margin-top: 0 !important;
  }
  .offerings .nav{
    border-width: 100%;
    border-bottom: none;
    }
    .offerings .nav-link{
        font-size: 12px;
    }
    .offerings #tech-tab{
        letter-spacing: -0.4px;
    }
    .offerings .nav-item .active{
        border-bottom: 3px solid #EA5526 !important;
    }
    .section-5-b {
        padding : 0 !important;
    }
    .section-5-b .row {
        padding : 0 !important;
    }
    .section-5-b .fs-50 {
        font-size: 33px;
    }
    .section-5-b .fs-6 {
        font-size: 12px !important;
    }
    .section-5-b .fs-6 {
        font-size: 12px !important;
    }
    .section-5-b .fs-7 {
        font-size: 12px !important;
    }

    .cuisines .fs-50{
        font-size: 30px;
    }
    .cuisines .fs-60{
        font-size: 35px;
    }
    .slides .slick-prev {
    background-image: none;
    left: 0;
  }
  .slides .slick-next {
    background-image: none;
    right: 0;
  }

  .testimonial .fs-60{
      font-size: 35px;
  }
.quote{
    margin-bottom: -4rem;
}
 #quote{
     width: 80px;
     height: 100px;
 }
 .t-card{
     height: 210px;
     width: 80% !important;
 }
 .t-card .fs-25{
     padding: 2rem 2px 2px 2px !important;
     font-size: 12px;
 }
 .t-card-footer{
     margin: 0 !important;
 }
.t-card-footer img {
    width: 60px !important;
}
.t-card-footer p{
    margin-top: -5px !important;
    font-size: 12px !important;
}
.map p{
    text-align: left !important;
    padding-left: 1rem;
    margin-left: 2rem;
    font-size: 30px;
}
.map img{
    margin: -3rem 0 0 2rem !important;
}
.capex{
    height: 275px;
}
.p-btn{
    font-size: 12px;
    width: 150px;
}

.footer img{
    width: 70px;
}
.footer .fs-20{
    font-size: 12px;
}
.footer .fs-3{
    font-size: 12px !important;
}
.footer .fs-12{
    font-size: 10px;
}
}